In [1]:
import pandas as pd

### Monthly Oceanic Nino Index (ONI)

In [3]:
ONI = pd.read_csv('Monthly Oceanic Nino Index (ONI) - Long.csv')
ONI.tail()

     Year MonthTxt  MonthNum PeriodTxt PeriodNum  Value
807  2017      MAM         4  2017-MAM   2017-04    0.4
808  2017      AMJ         5  2017-AMJ   2017-05    0.4
809  2017      MJJ         6  2017-MJJ   2017-06    0.2
810  2017      JJA         7  2017-JJA   2017-07   -0.1
811  2017      JAS         8  2017-JAS   2017-08   -0.5

In [5]:
Land_Temp = pd.read_csv('UG_LandSurfaceTemperature_adm_1.csv',sep=';')
Land_Temp.tail()

,ADM0_EN,ADM0_EN_ft_style,ADM0_PCODE,ADM0_PCODE_ft_style,ADM1_EN,ADM1_PCODE,Clear_day_cov_mean,Clear_night_cov_mean,Day_view_angle_mean,Day_view_time_mean,...,Month,Night_view_angle_mean,Night_view_time_mean,OBJECTID,QC_Day_mean,QC_Night_mean,Year,geometry_pos,geometry_vertex_count,import_notes
27689,Uganda,0.0,UG,0.0,SSEMBABULE,UG111,2237.568192,2549.135388,62.832991,104.796096,...,12,66.302954,225.833601,118.0,7.318049,4.401546,2018,"{'type': 'Point', 'coordinates': [31.3734279, ...",3062.0,NaN
27690,Uganda,0.0,UG,0.0,TORORO,UG212,2525.006530,2660.053770,60.080722,104.934424,...,12,54.421733,223.820407,119.0,7.239705,4.869434,2018,"{'type': 'Point', 'coordinates': [34.1021976, ...",2964.0,NaN
27691,Uganda,0.0,UG,0.0,WAKISO,UG113,2455.752984,2482.118259,60.873171,104.974555,...,12,68.925793,225.184431,120.0,10.895471,6.204920,2018,"{'type': 'Point', 'coordinates': [32.5130352, ...",5914.0,NaN
27692,Uganda,0.0,UG,0.0,YUMBE,UG313,2571.951649,2408.682983,69.178719,105.926676,...,12,85.531698,226.851687,121.0,6.407331,6.247046,2018,"{'type': 'Point', 'coordinates': [31.3380203, ...",3183.0,NaN
27693,Uganda,0.0,UG,0.0,ZOMBO,UG330,2452.366642,2535.536507,63.305403,105.519485,...,12,73.260052,225.619867,122.0,10.536042,8.209104,2018,"{'type': 'Point', 'coordinates': [30.8906731, ...",2827.0,NaN

In [6]:
Precipitation = pd.read_csv('UG_Precipitation_sum_adm_1.csv',sep=';')
Precipitation.tail()

,ADM0_EN,ADM0_EN_ft_style,ADM0_PCODE,ADM0_PCODE_ft_style,ADM1_EN,ADM1_PCODE,Month,OBJECTID,Year,geometry_pos,geometry_vertex_count,import_notes,mean
55627,Uganda,0.0,UG,0.0,SSEMBABULE,UG111,12,118.0,2018,"{'type': 'Point', 'coordinates': [31.3734279, ...",3062.0,NaN,116.137046
55628,Uganda,0.0,UG,0.0,TORORO,UG212,12,119.0,2018,"{'type': 'Point', 'coordinates': [34.1021976, ...",2964.0,NaN,122.601727
55629,Uganda,0.0,UG,0.0,WAKISO,UG113,12,120.0,2018,"{'type': 'Point', 'coordinates': [32.5130352, ...",5914.0,NaN,168.875174
55630,Uganda,0.0,UG,0.0,YUMBE,UG313,12,121.0,2018,"{'type': 'Point', 'coordinates': [31.3380203, ...",3183.0,NaN,41.102342
55631,Uganda,0.0,UG,0.0,ZOMBO,UG330,12,122.0,2018,"{'type': 'Point', 'coordinates': [30.8906731, ...",2827.0,NaN,73.785781

In [7]:
SoilMoisture = pd.read_csv('UG_SoilMoisture_adm_1.csv',sep=';')
SoilMoisture.tail()

,ADM0_EN,ADM0_EN_ft_style,ADM0_PCODE,ADM0_PCODE_ft_style,ADM1_EN,ADM1_PCODE,Month,OBJECTID,Year,geometry_pos,geometry_vertex_count,import_notes,smp_mean,ssm_mean,ssma_mean,susm_mean,susma_mean
13171,Uganda,0.0,UG,0.0,SSEMBABULE,UG111,12,118.0,2018,"{'type': 'Point', 'coordinates': [31.3734279, ...",3062.0,NaN,0.417017,10.131504,0.115567,80.975211,0.009630
13172,Uganda,0.0,UG,0.0,TORORO,UG212,12,119.0,2018,"{'type': 'Point', 'coordinates': [34.1021976, ...",2964.0,NaN,0.408330,10.164735,-0.636154,70.819458,-0.987241
13173,Uganda,0.0,UG,0.0,WAKISO,UG113,12,120.0,2018,"{'type': 'Point', 'coordinates': [32.5130352, ...",5914.0,NaN,0.184062,5.189856,-0.673449,31.938438,-0.979797
13174,Uganda,0.0,UG,0.0,YUMBE,UG313,12,121.0,2018,"{'type': 'Point', 'coordinates': [31.3380203, ...",3183.0,NaN,0.326366,7.965379,-0.439074,51.256138,-0.809418
13175,Uganda,0.0,UG,0.0,ZOMBO,UG330,12,122.0,2018,"{'type': 'Point', 'coordinates': [30.8906731, ...",2827.0,NaN,0.427073,9.854746,-0.645952,68.578766,-0.865302

In [9]:
NDVI = pd.read_csv('UG_NDVI_adm_1.csv',sep=';')
NDVI.tail()

,ADM0_EN,ADM0_EN_ft_style,ADM0_PCODE,ADM0_PCODE_ft_style,ADM1_EN,ADM1_PCODE,Month,OBJECTID,Year,geometry_pos,geometry_vertex_count,import_notes,ndvi_mean,qa_mean
47575,Uganda,0.0,UG,0.0,SSEMBABULE,UG111,12,118.0,2013,"{'type': 'Point', 'coordinates': [31.3734279, ...",3062.0,NaN,0.694218,1.086104
47576,Uganda,0.0,UG,0.0,TORORO,UG212,12,119.0,2013,"{'type': 'Point', 'coordinates': [34.1021976, ...",2964.0,NaN,0.688726,1.525222
47577,Uganda,0.0,UG,0.0,WAKISO,UG113,12,120.0,2013,"{'type': 'Point', 'coordinates': [32.5130352, ...",5914.0,NaN,0.458973,2.094942
47578,Uganda,0.0,UG,0.0,YUMBE,UG313,12,121.0,2013,"{'type': 'Point', 'coordinates': [31.3380203, ...",3183.0,NaN,0.653207,1.000000
47579,Uganda,0.0,UG,0.0,ZOMBO,UG330,12,122.0,2013,"{'type': 'Point', 'coordinates': [30.8906731, ...",2827.0,NaN,0.739392,1.000000